[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
markupsafe = "*"
flask-sqlalchemy = "==2.5.1"
sqlalchemy = "==1.4.47"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.6"
